<div class="container">
  <div class="image"></div>
  <div class="contents">
    <ol>
      <li>Name: {{name}}</li>
      <li>Rarity: {{rarity}}</li>
      <li>Health Rating: {{healthRating}}</li>
      <li>Age: {{ageMonths}}</li>
      <li>Poison Status: {{poisonStatus}}</li>
    </ol>
  </div>
</div>